{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About Us {% endblock %}</h1>
    <p> <i>Do you always have random baking ingredients lying around, that you don't know what to make with? Do you get the urge to bake, late in the evening, 
        when all the shops have closed? Or do you just yearn for a website that houses a collection of delicious recipes? </i><br>
        <br>
        <b>Then you've come to the right place!</b><br>
        <br> 
        As baking enthusiasts we have often experienced ingredients going bad because they weren't used, and in an effort
        to hopefully reduce food waste, we created this website to make it easier to find recipes based on whatever ingredients you have lying around. </p>
{% endblock %}