<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="{{ url_for('index')}}"><b>BakeToSave</b></a>
      <a href="{{ url_for('about')}}">About</a>
      <a href="{{ url_for('dbinfo')}}">Database Info</a>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>